.timer {
  display: flex;
}
.field {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
}
.value {
  font-size: 55px;
}
.label {
  font-size: 16px;
  text-transform: uppercase;
}

.inp-timer {
  margin-left: 16px;
}

.form {
  width: 300px;
  margin: 24px;
}
.promis-label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
